# The base URL where the site is served locally when in test mode
VITE_SITE_URL='http://localhost:3000/'

# The following variables below are Supabase or Supabase-related
# environment variables. They can be obtained from `supabase status`
# when executed in the project root directory or where a supabase 
# project is located.

# The URL associated with the Supabase project
VITE_SUPABASE_PROJECT_URL=''
# The anon key associated with the Supabase project, public use
VITE_SUPABASE_ANON_KEY=''
# The service key associated with the Supabase project, use in test case
# for validation + cleanup
SUPABASE_SERVICE_KEY=''
# The base URL where the Inbucket email service within the Supbase CLI resides
# Outgoing emails from the Supabase project is captured here
INBUCKET_URL=''