div.counterObjective {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 2lh;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

button.incrementBtn {
    width: 1.5lh;
    height: 1.5lh;
}

button.decrementBtn {
    width: 1.5lh;
    height: 1.5lh;
}

ul.listObj {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 5px;
}

li.listObjItem {
    display: flex;
    column-gap: 0.25em;
}

div.center {
    text-align: center;
    vertical-align: middle;
}

ol.seqObjList {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

li.seqObjListItem > * {
    vertical-align: text-top;
}
