div.achievementList {
    display: flex;
    flex-direction: column;
}

section.achievement {
    border-style: solid;
    border-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.info {
    display: flex;
    flex-direction: row;
}

div.icons {
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.desc {
    align-self: center;
    width: auto;
    margin-top: -5px;
    margin-left: 16px;
    flex-grow: 2;
}

h2.achievementName {
    font-weight: bold;
    font-size: 18px;
}

div.achievementCompleted {
    margin-left: auto;
    margin-right: 16px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.showInformation {
    margin-left: auto;
    margin-right: 16px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.objectiveContainer {
    background-color: #13191a;
    background-clip: content-box;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
}
