div.achievementList {
    display: flex;
    flex-direction: column;
}

section.achievement {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.info {
    display: flex;
    flex-direction: row;
}

div.icons {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.desc {
    align-self: center;
    width: auto;
    margin-top: -5px;
    margin-left: 1rem;
    flex-grow: 2;
}

h2.achievementName {
    font-weight: bold;
    font-size: 18px;
}

div.achievementCompleted {
    margin-left: auto;
    margin-right: 1rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.showInformation {
    margin-left: auto;
    margin-right: 1rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.objectiveContainer {
    background-color: #13191a;
    background-clip: content-box;
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5px;
    margin-top: 8px;
}

.skeletonSection {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.skeletonInfo {
    margin-right: 1.5rem;
}

.skeletonTitle {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.skeletonDesc {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}