.formContent {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0 auto;
    padding: 1em;
    max-width: min-content;
}

.formRow {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 5px;
    justify-content: end;
}

.formLabel {
    text-align: right;
}

div.formError {
    display: block;
    text-align: left;
    align-self: baseline;
    border-color: #ff0000;
    border-style: dotted;
    border-width: 2px;
    width: 100%;    
}

div.formSuccess {
    display: block;
    text-align: left;
    align-self: baseline;
    border-color: #007700;
    border-style: dotted;
    border-width: 2px;
    padding-left: 2em;
    padding-right: 2em;
}

input[type=checkbox].leftAnchor {
    justify-self: left;
}

strong.email {
    font-weight: bold;
}