name: ci
run-name: Run tests & lint
on: [push]
jobs:
  ci:
    runs-on: self-hosted
    steps:
      - name: Cleanup
        run: rm -r ${{ github.workspace }}/*

      - name: Checkout
        uses: actions/checkout@v4

#      - name: Setup Supabase CLI
#        uses: supabase/setup-cli@v1
#        with:
#          version: latest

      - name: Start local Supabase instance
        run: supabase start
      
      - name: Install dependencies
        run: npm ci

      - name: Run backend unit tests
        run: npm run test
        working-directory: ./backend

      - name: Run common unit tests
        run: npm run test
        working-directory: ./common

      - name: Run frontend unit tests
        run: npm run test:unit
        working-directory: ./frontend

      - name: Run frontend e2e tests
        run: npm run test:e2e
        working-directory: ./frontend     

      - name: Stop local Supabase instance
        run: supabase stop
        