name: ci
run-name: Run tests & lint
on: [push]
env:
  VITE_SITE_URL: http://localhost:3000/
  VITE_API_URL: http://localhost:3500/
  VITE_SUPABASE_PROJECT_URL: http://127.0.0.1:54321
  JWT_SECRET: super-secret-jwt-token-with-at-least-32-characters-long
  JWT_ISS: http://127.0.0.1:54321/auth/v1
  PGUSER: webserv1
  PGPASSWORD: 'webserv1'
  PGHOST: 127.0.0.1
  PGPORT: 54322
  PGDATABASE: postgres
  INBUCKET_URL: http://127.0.0.1:54324
jobs:
  ci:
    runs-on: self-hosted
    steps:
      - name: Cleanup
        run: rm -r ${{ github.workspace }}/*

      - name: Checkout
        uses: actions/checkout@v4

#      - name: Setup Supabase CLI
#        uses: supabase/setup-cli@v1
#        with:
#          version: latest

      - name: Start local Supabase instance
        run: |
          supabase start
          echo "VITE_SUPABASE_ANON_KEY=$(supabase status | grep 'anon key:' | sed 's/.*anon key: //')" >> $GITHUB_ENV
          echo "SUPABASE_SERVICE_KEY=$(supabase status | grep 'service_role key:' | sed 's/.*service_role key: //')" >> $GITHUB_ENV
      
      - name: Install dependencies
        run: npm ci

      - name: Run setup script
        run: npm run setup

      - name: Run backend unit tests
        run: npm run test
        working-directory: ./backend

      - name: Run common unit tests
        run: npm run test
        working-directory: ./common

      - name: Run frontend unit tests
        run: npm run test:unit
        working-directory: ./frontend

      - name: Run frontend e2e tests
        run: npm run test:e2e
        working-directory: ./frontend     

      - name: Stop local Supabase instance
        run: supabase stop
        