name: tests-lints
run-name: Run tests & lint
on:
  pull_request:
    branches:
      - main
env:
  VITE_SITE_URL: http://localhost:3000/
  VITE_API_URL: http://localhost:3500/
  PG_WEBSERV_USER: webserv1
  PG_WEBSERV_PASS: webserv1
  CORS_ORIGIN: 'http://localhost:3000'
jobs:
  ci:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24' # Node 24 LTS
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Setup Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: 2.75.0
      
      - name: Generate signing key
        run: supabase gen signing-key --algorithm ES256 -o json
        working-directory: ${{ github.workspace }}

      - name: Start local Supabase instance and set environment variables
        run: |
          supabase start
          SUPABASE_STATUS=$(supabase status -o env)
          SUPABASE_API_URL=$(echo "$SUPABASE_STATUS" | grep 'API_URL' | sed -E 's/^API_URL=\"(.+)\"$/\1/')
          echo "VITE_SUPABASE_PROJECT_URL=$(echo "$SUPABASE_API_URL")" >> $GITHUB_ENV
          echo "INBUCKET_URL=$(echo "$SUPABASE_STATUS" | grep 'INBUCKET_URL' | sed -E 's/^INBUCKET_URL=\"(.+)\"$/\1/')" >> $GITHUB_ENV
          echo "JWT_ISS=$(echo "$SUPABASE_API_URL")/auth/v1" >> $GITHUB_ENV
          echo "VITE_SUPABASE_PUB_KEY=$(echo "$SUPABASE_STATUS" | grep 'PUBLISHABLE_KEY' | sed -E 's/^PUBLISHABLE_KEY=\"(.+)\"$/\1/')" >> $GITHUB_ENV
          echo "SUPABASE_SECRET_KEY=$(supabase status -o env | grep 'SECRET_KEY' | sed -E 's/^SECRET_KEY=\"(.+)\"$/\1/')" >> $GITHUB_ENV
          DB_URL=$(supabase status -o env | grep 'DB_URL' | sed -E 's/^DB_URL=\"(.+)\"$/\1/')
          echo "PG_MASTER_USER=$(echo $DB_URL | sed -E 's/^postgresql:\/\/([^:]+):([^@]+)@([^:]+):([^\/]+)\/(.+)$/\1/')" >> $GITHUB_ENV
          echo "PG_MASTER_PASS=$(echo $DB_URL | sed -E 's/^postgresql:\/\/([^:]+):([^@]+)@([^:]+):([^\/]+)\/(.+)$/\2/')" >> $GITHUB_ENV
          echo "PGHOST=$(echo $DB_URL | sed -E 's/^postgresql:\/\/([^:]+):([^@]+)@([^:]+):([^\/]+)\/(.+)$/\3/')" >> $GITHUB_ENV
          echo "PGPORT=$(echo $DB_URL | sed -E 's/^postgresql:\/\/([^:]+):([^@]+)@([^:]+):([^\/]+)\/(.+)$/\4/')" >> $GITHUB_ENV
          echo "PGDATABASE=$(echo $DB_URL | sed -E 's/^postgresql:\/\/([^:]+):([^@]+)@([^:]+):([^\/]+)\/(.+)$/\5/')" >> $GITHUB_ENV
      
      - name: Install dependencies
        run: npm ci

      - name: Build common package
        run: npm run build
        working-directory: ${{ github.workspace }}/common

      - name: Perform setup
        run: npm run setup

      - name: Run backend unit tests
        run: npm run test
        working-directory: ${{ github.workspace }}/backend

      - name: Run common unit tests
        run: npm run test
        working-directory: ${{ github.workspace }}/common

      - name: Run frontend unit tests
        run: npm run test:unit
        working-directory: ${{ github.workspace }}/frontend
        
      - name: Cache Playwright binary dependencies
        uses: actions/cache@v3
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/package-lock.json') }}
      
      - name: Install Playwright dependencies
        run: npx playwright install --with-deps
        working-directory: ${{ github.workspace }}/frontend
        if: steps.playwright-cache.outputs.cache-hit != 'true'

      - name: Run frontend e2e tests
        run: npm run test:e2e
        working-directory: ${{ github.workspace }}/frontend

      - name: Lint
        run: npm run lint
        working-directory: ${{ github.workspace }}